body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: -apple-system, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: rgba(7,17,27,0.5);
}
.header .content-wrapper {
  position: relative;
  padding: 24px 12px 18px 24px;
  font-size: 0;
}
.header .content-wrapper .avatar {
  display: inline-block;
  vertical-align: top;
}
.header .content-wrapper .avatar img {
  border-radius: 2px;
}
